# Data
data/raw/*.csv
data/processed/*.csv
data/processed/*.db

# Anaconda
anaconda_projects/

# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Virtual Environment
venv/
.venv/
env/
ENV/

# IDE
.vscode/
.idea/

# Operating System
.DS_Store
Thumbs.db